<p style="color: green"><%= notice %></p>

<h1><%= t("forget.title") %></h1>

<p>
  Clicking here you will wipe all your informations from the system.
</p>

<%= button_to t("forget.button"), forget_me_path %>
