  <p>
    <strong><%= t("stats.total_spent") %>:</strong>
    <%= @stats[:total_spent] %>
    <br>

    <strong><%= t("stats.total_offers") %>:</strong>
    <%= @stats[:total_offers] %>
    <br>
  </p>
</div>
