<div style="text-align:center;">
  <h1>Daruma</h1>

  <img src="/daruma.png" style="max-height: 200px;">

  <h4>
    A simple app to add your resolutions (yearly, monthly or daily) and help you stick with those!
  </h4>

  <a href="https://github.com/baldarn/daruma"><i class="fa-lg fa-brands fa-github"></i></>
</div>
